
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 13px;
  cursor: pointer;
}

.back::after {
  position: relative;
  left: 2px;
  content: '';
  width: 15px;
  height: 15px;
  background: url(../../assets/back.svg) no-repeat;
  background-size: cover;
}

.back:hover {
  background: #eee;
}
