
.navBar {
  height: 45px;
  border-bottom: 1px solid #eee;
}

.navBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navBarContainer > h2 {
  position: relative;
  margin: 0 0 0 4px;
  font-size: 14px;
  font-weight: normal;
}
